body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 200%;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

p {
  color: rgb(24, 25, 68);
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border: dotted rgb(170, 187, 187) 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {

  color: #EAF6F6;
}

.top-container {
  background-color: rgb(221, 234, 240);
  position: relative;
  padding-top: 200px;
}

.middle-container {}

.bottom-container {
  background-color: rgb(199, 232, 247);
  padding: 16px 0 1px;
}

.bottom-cloud {
  position: absolute;
  left: 92px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 154px;
  top: 135px;
}

.round {
  border-radius: 50%;
}

.profile {
  border-radius: 50%;
  margin-top: 70px;
}

.iconDetails {

  position: static;
  left: 300px;
  width: 222px;
  height: 237px;
  margin-left: 84px;
}

.section-container {

  width: 700px;
  height: 660px;
  margin: 70px auto 70px auto;
}

.block-container {
  position: relative;
  float: left;
  left: 12px;
  width: 580px;
  height: 200px;
}

.block-containerr {
  position: relative;
  float: right;
  width: 4px;
  height: 50px;
  margin-top: 14px;
}

.block-container2 {
  position: relative;
  left: 232px;
  width: 744px;
  height: 200px;
  margin-left: -196px;
  padding-top: 409px;
  margin-top: 63px;
}

.block-container3 {
  padding-left: 0px;
  margin-top: -188px;
  float: left;
  width: 5px;
  height: 50px;
  margin-left: -176px;
}

.first-img {
  margin-left: -90px;
}

.intro {
  width: 45%;
  margin: auto;
  line-height: 2;
}

.contact-me {
  width: 60%;
  margin: 40px auto 60px;
  line-height: 2;
}

.btn {
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: #79bbff;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  height: 50px;
  line-height: 50px;
  width: 140px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #528ecc;
  padding:10px;
}

.classname:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
  background: -moz-linear-gradient(center top, #233d57 5%, #7f8992 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
  background-color: #378de5;
}

.classname:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: white;
  font-size: 0.75rem;
  padding: 20px 0px;
}
